{% extends 'layouts/navbar.html' %}
<!---->
{% load static %}
<!---->
{% block css_extra %}
<link rel="stylesheet" href="{% static  'styles/index.css' %}" />
{% endblock %}
<!---->
{% block content %}

<main>
  <!---->
  <h2>Iniciar sesión</h2>
  <form class="forulario" method="POST">
    {% csrf_token %}
    <!-- Input Username  -->
    <div class="box-username">
      <label>Nombre de usuario</label>
      <br />
      {{ signin.username }}
    </div>

    <!-- Input password -->
    <div class="box-password">
      <label>Contraseña</label>
      <br />
      <!---->
      {{ signin.password }}
    </div>
    <button class="boton-sumit">Guardar</button>
  </form>
</main>
<!---->
{% endblock %}
