{% load static %}
<!---->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %} {% endblock %}
    <!---->
    <link rel="stylesheet" href="{% static '/styles/navbar.css' %}" />
    {% block css_extra %} {% endblock %}
  </head>
  <body>
    <head>
      <nav>
        <ul>
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'login' %}">Iniciar sesión</a>
          </li>
        </ul>
      </nav>
    </head>
  </body>
</html>

{% block content %} {% endblock %}
