body{
    background-color: #202022;
}
label{
    color: rgb(60, 255, 60);
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}
main{
    background-color: #202022;
    color: whitesmoke;
    font-family: Arial, sans-serif; /* Usar una fuente similar a la imagen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
.forulario{
    min-width: 300px;
    min-height: 250px;
    background-color:black ;
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid greenyellow;
}
.title{
    color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}
.input{
    width: 230px;
    height: 30px;
    background-color: #202022 ;
    border: 2px solid greenyellow;
    border-radius: 8px;
    color: white;
    font-size: 20px;
}
.boton-sumit{
        color: rgb(60, 255, 60);
    background-color: #202022;
    border: 2px solid greenyellow;
    list-style: none;
    width: 100px;
    margin-left: 100px;
    margin-top: 10px;
    padding: 6px;
    border-radius: 15px;
}
