.title-pages{
    color: green;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #202022;
}

ul{
    background-color: rgb(32, 199, 10);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    background-color:#202022;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    list-style: none;
    
}
ul li a{
    color: whitesmoke;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 900;
}